.omi-btn{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance:none;
  &::before {
    content: '';
		position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: $button-rapple-color;
    border-color: $button-rapple-color;
    border: inherit;
    border-radius: inherit;
    opacity: 0;
    transition: opacity .2s;
	}

	&:active::before {
    opacity: .2;
	}
}
.omi-btn__text, .omi-btn__loading{
  display: inline-block;
  vertical-align: top;
}
//color
.omi-btn__primary{
  @include button-background($button-primary, $button-primary, $button-primary-color);
}
.omi-btn__default{
  @include button-background($button-default, $button-default-border-color ,$button-default-color);
}
.omi-btn__info{
  @include button-background($button-info, $button-info ,$button-info-color);
}
.omi-btn__success{
  @include button-background($button-success, $button-success ,$button-success-color);
}
.omi-btn__warning{
  @include button-background($button-warn, $button-warn, $button-warn-color);
}
.omi-btn__danger{
  @include button-background($button-danger, $button-danger ,$button-danger-color);
}
//size
.omi-btn__normal{
  @include button-size($button-normal-padding, $button-normal-height);
}
.omi-btn__small{
  @include button-size($button-small-padding, $button-small-height);
}
.omi-btn__mini{
  @include button-size($button-mini-padding, $button-mini-height, $button-mini-font-size);
}
.omi-btn__block{
  display: block;
  width: 100%;
}
.omi-btn__round{
  border-radius: $button-round-radius;
}