@import'./cell.scss';

.omi-collapse-item__wrapper{
  transition: all .2s ease-in-out;
  overflow: hidden;
}
.omi-collapse-item__inner{
  padding: $collapse-item-content-padding;
  background-color: $collapse-item-content-background;
  color: $collapse-content-color;
  font-size: $collapse-content-font-size;
}
.omi-collapse-item{
  .omi-enter{
    transition: transform .2s ease;
  }
  .omi-cell{
    &::after{
      visibility: hidden;
    }
  }
}
.omi-collapse-item__open{
  .omi-enter{
    transform: rotate(90deg);
  }
  .omi-cell{
    &::after{
      visibility: visible;
    }
  }
}
.omi-collapse-item__disable{
  color: $collapse-item-disable-color;
  cursor: not-allowed;
  .omi-cell__right--icon .omi-enter{
    color: $collapse-item-disable-color;
  }
}