.omi-image-preview{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.omi-imgae-preview__body,
.omi-imgae-preview__body--wrapper,
.omi-image-preview__item {
  height: 100%;
}
.omi-imgae-preview__body{
  width: 100%;
}
.omi-image-preview__footer{
  position: absolute;
  width: 100%;
  bottom: $image-preview-footer-offset;
  color: $image-preview-indicator-color;
  text-align: center;
  font-size: $image-preview-indicator-font-size;
}
.omi-image-preview__item{
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.omi-imgae-preview__body--wrapper {
  display: flex;
}
.omi-image-preview__img{
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}