@import'./icon.scss';

.omi-nav-bar__left{
  display: flex;
  align-items: center;
  flex-basis: $nav-bar-left-basis;
  padding: 0 $padding-md;
  color: $nav-bar-left-color;
}
.omi-nav-bar__middle{
  flex-basis: $nav-bar-middle-basis;
  text-align: center;
}
.omi-nav-bar__right{
  flex-basis: $nav-bar-right-basis;
  padding: 0 $padding-md;
  text-align: center;
  color: $nav-bar-right-color;
}
.omi-nav-bar{
  display: flex;
  padding: 5px 0;
  justify-content: center;
  line-height: $nav-bar-line-height;
  font-size: $font-size-lg;
  background-color: $theme-background-color;
}