@import'./loading.scss';

.omi-pull-refresh{
  position: relative;
  overflow: hidden;
  .omi-pull-refresh__tip{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .omi-pull-refresh__header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  .omi-pull-refresh__header--top {
    transform: translateY(-100%);
  }
}
.omi-pull-refresh__loading,
.omi-pull-refresh__spinner {
  display: flex;
  align-items: center;
}