{
  "env": {
    "lib": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true
          }
        ],
        "@vue/babel-preset-jsx"
      ]
    },
    "esmodule": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": false,
            "modules": false
          }
        ],
        "@vue/babel-preset-jsx"
      ]
    },
    "development": {
      "presets": [
				"@vue/babel-preset-jsx",
        ["@babel/preset-env", { "modules": false }]
      ]
    },
    "test": {
      "presets": [
        "@vue/babel-preset-jsx",
        ["@babel/preset-env", {
          "modules": false,
          "targets": { "node": "current" }
        }]
      ],
      "plugins": ["istanbul"]
    }
  }
}