.pop-in-enter,
.pop-in-leave-to {
  transform: scale(.6);
  opacity: 0;
}

.pop-in-enter-active,
.pop-in-leave-active {
  transform-origin: 50%;
}

.pop-in-enter-active {
  transition: all .2s ease;
}

.pop-in-leave-active {
  transition: all .2s ease-out;
}