html {
  -webkit-tap-highlight-color: transparent;
}
body{
  margin: 0;
  font-family: PingFang SC, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: auto;
  color: $theme-color;
}
a:focus, input:focus, button:focus, textarea:focus, [class*='omi-']:focus{
  outline: none;
}
[type="search"] {
  border: none;
}