//theme
$color-white: #fff !default;
$color-grey1: #ddd !default;
//font color
$color-grey2: #757575 !default;
$color-grey3: #969799 !default;
$color-grey4: #c5c7ce !default;
$color-yellow: #fd9d0f !default;
$color-black: #333 !default;
$color-blue1: #2d8cf0 !default;
$color-blue2: #38c1ff !default;
$color-red: red !default;
$color-success: #1fbf6f !default;
$color-disable: #c6c5c5 !default;
$theme-color: $color-black !default;
$theme-border-color: #d2d2d299 !default;
$theme-background-color: $color-white !default;

//font
$font-path: '/fonts' !default;
$icon-default-size: 22px !default;
$font-size-base: 14px !default;
$font-size-sm: 12px !default;
$font-size-lg: 16px !default;

//padding
$padding-lg: 22px !default;
$padding-md: 16px !default;
$padding-sm: 12px !default;
$padding-xs: 10px !default;

//nav-bar
$nav-bar-line-height: 34px !default;
$nav-bar-left-basis: 20% !default;
$nav-bar-middle-basis: 60% !default;
$nav-bar-right-basis:$nav-bar-left-basis !default;

//form-item
$form-item-title-width: 80px !default;

//cell
$cell-line-height: 24px !default;
$cell-vertical-padding: $padding-xs !default;
$cell-horizontal-padding: $padding-md !default;
$cell-arrow-color: $color-grey2 !default;
// $cell-content-color: $color-grey2 !default;
$cell-content-body-margin: 4px !default;
$cell-group-title-color: $color-grey2 !default;
$cell-group-line-height: 20px !default;
$cell-group-vertical-padding: $cell-horizontal-padding/2 !default;

//input
$input-line-height: $cell-line-height !default;

//button
$button-round-radius: 40px;
//button color
$button-rapple-color: #666;
$button-primary: $color-blue1 !default;
$button-primary-color: $color-white !default;
$button-default: $color-white !default;
$button-default-color: $color-black !default;
$button-default-border-color: $color-grey1 !default;
$button-danger: $color-red !default;
$button-danger-color: $color-white !default;
$button-warn: $color-yellow !default;
$button-warn-color: $color-white !default;
$button-success: $color-success !default;
$button-success-color: $color-white !default;
$button-info: $color-blue2 !default;
$button-info-color: $color-white !default;
//button size
$button-normal-height: 40px !default;
$button-normal-padding:$padding-md !default;
$button-small-height: 30px !default;
$button-small-padding: $button-normal-padding - 4 !default;
$button-mini-height: 20px !default;
$button-mini-font-size: $font-size-sm !default;
$button-mini-padding: $button-small-padding - 4 !default;

//loading
$circular-default-size: 22px !default;
$circular-stroke-width: 3px !default;
$loading-default-color: $color-grey4 !default;
$loading-duration: 1s !default;

//checkbox
$checkbox-input-size: 18px !default;
$checkbox-border-color:$theme-border-color !default;
$checkbox-checked-background: $color-blue1 !default;
$checkbox-checked-color: $color-white !default;
$checkbox-vertical-padding: $padding-xs - 2 !default;
$checkbox-input-margin: 8px !default;
$check-disable-color: $color-disable !default;

//circle
$circle-base-color: rgb(229, 233, 242) !default;
$circle-stroke-color: $color-blue1 !default;

$switch-size: 24px !default;
$switch-border-size: 1px !default;
$switch-border-color: transparent !default;
$switch-node-border-color: rgba(210, 210, 210, 0.3) !default;
$switch-empty-color: rgba(221, 221, 221, .8) !default;
$switch-node-color:$color-white !default;
$switch-active-background: $color-success !default;

$toast-width: 60px !default;
$toast-background: rgba(43, 43, 43, 0.7) !default;
$toast-text-color: $color-white !default;
$toast-border-radius: 4px !default;
$toast-text-margin-top: 8px !default;
$toast-padding: 10px !default;
$toast-icon-font-size: 28px !default;
$toast-text-max-width: 90% !default;

//collapse
$collapse-item-content-padding: $cell-horizontal-padding !default;
$collapse-item-content-background: $color-white !default;
$collapse-content-color: $color-grey2 !default;
$collapse-content-font-size: $font-size-base !default;
$collapse-item-disable-color:$color-disable !default;

//overlay
$overlay-background: rgba(0, 0, 0, .5) !default;

//action-sheet
$action-sheet-max-height: 50% !default;
$action-sheet-item-disable-color: $color-disable !default;
$action-sheet-background: $color-white !default;
$action-sheet-title-line-height: 1.4 !default;
$action-sheet-header-vertical-pading: 16px !default;
$action-sheet-item-horizontal-padding: $padding-md !default;
$action-sheet-header-horizontal-pading: $action-sheet-item-horizontal-padding !default;
$action-sheet-item-line-height: 50px !default;
$action-sheet-cancel-wrapper-padding-top: 5px !default;
$action-sheet-cancel-wrapper-background: $color-grey1 !default;
$action-sheet-loading-height: $action-sheet-item-line-height*2 !default;
$action-sheet-round-radius: 10px 10px 0 0 !default;
$aciont-sheet-subtitle-font-size: $font-size-base !default;
$aciont-sheet-subtitle-color: $color-grey2 !default;
$aciont-sheet-close-color: $color-grey2 !default;
$aciont-sheet-close-background: $color-grey1 !default;
$aciont-sheet-close-size: $font-size-lg !default;
$aciont-sheet-close-weight: 600 !default;

//dialog
$dialog-background: $color-white !default;
$dialog-border-radius: 10px !default;
$dialog-width: 260px !default;
$dialog-title-padding: $padding-sm*2 $padding-sm 0 $padding-sm !default;
$dialog-title-font-weight: 600 !default;
$dialog-content-line-height: 22px !default;
$dialog-content-font-size: $font-size-base !default;
$dialog-content-padding-bottom: $padding-sm !default;
$dialog-form-margin-top: 10px !default;
$dialog-input-border-radius: 2px !default;
$dialog-input-padding: 4px !default;

//load-more
$load-more-wrapper-vertical-padding:10px !default;
$load-more-icon-size:10px !default;
$load-more-text-font-size: $font-size-base !default;
$load-more-text-color: $color-grey4 !default;

//tab
$tab-bar-height: 40px !default;
$tab-bar-list-padding-botton: 18px !default;
$tab-bar-line-height: 3px !default;
$tab-bar-line-radius: 2px !default;
$tab-bar-line-background: $color-blue1 !default;
$tab-bar-background: $color-white !default;
$tab-list-transition-duration: .35s !default;
$tab-list-transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96) !default;

// bage
$bage-dot-right: -8px !default;

$bage-dot-size: 6px !default;
$bage-dot-top: -6px !default;
$bage-dot-background: $color-red !default;
$bage-text-background: $color-red !default;
$bage-text-height: 16px !default;
$bage-text-top: -10px!default; 
$bage-text-color: $color-white !default;
$bage-text-font-size: $font-size-sm !default;
$bage-text-border-radius: 10px !default;
$bage-text-horizontal-padding: 4px !default;

//picker
$picker-colum-background: $color-white !default;
$picker-header-padding-horiztional: $padding-md !default;
$picker-header-confirm-color: $color-blue1 !default;
$picker-header-background: $picker-colum-background !default;
$picker-header-cancel-color: $color-grey4 !default;
$picker-header-padding-vertical: $padding-md !default;
$picker-colum-timing-function: cubic-bezier(0.22, 0.93, 0.36, 1.01) !default;

//search
$search-content-vertical-padding: 4px !default;
$search-height: $input-line-height + 2 +$search-content-vertical-padding *2 !default;
$search-placeholder-warpper-background: $color-white !default;
$search-placeholder-warpper-padding-left: 4px !default;
$search-border-radius: 3px !default;
$search-cancel-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94) !default;
$search-input-padding-left-right: 28px !default;
$search-cancel-padding-left: 8px !default;
$search-placeholder-color: $color-grey3 !default;
$search-cancel-color: $color-blue1 !default;
$search-clear-size: 16px !default;
$search-clear-background: rgba(150, 151, 153, .5) !default;
$search-clear-color: $color-white !default;
$search-clear-horizontal-margin: 4px !default;
$search-clear-button-line-height: 13px !default;

//rate
$rate-border-color: $color-grey1 !default;

//image-preview
$image-preview-footer-offset: 80px !default;
$image-preview-indicator-color: $color-white !default;
$image-preview-indicator-font-size: $font-size-base !default;
$image-preview-overlay-background: rgba(0, 0, 0, 0.85) !default;
$image-preview-overlay-close-offset: 16px !default;
$image-preview-overlay-close-color: $color-white !default;
