@mixin line($position, $position-value, $border, $left, $right) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    #{$position}: $position-value;
    left: $left;
    right: $right;
    box-sizing: border-box;
    #{$border}: 1px solid $theme-border-color;
    transform: scaleY(.5);
    pointer-events: none;
    @content;
  }
}

//horizontal
@mixin hline($position, $position-value, $border) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    #{$position}: $position-value;
    box-sizing: border-box;
    #{$border}: 1px solid $theme-border-color;
    transform: scaleX(.5);
    pointer-events: none;
    @content;
  }
}

@mixin double-line($border-width-vertical, $border-width-horiztional) {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    box-sizing: border-box;
    transform: scale(.5);
    border: 0 solid $theme-border-color;
    border-width: $border-width-vertical $border-width-horiztional;
    pointer-events: none;
  }
}