@mixin line($position, $position-value, $left, $right) {
  position: relative;
  &::after{
    content: "";
    position: absolute;
    #{$position}: $position-value;
    left: $left;
    right: $right;
    box-sizing: border-box;
    border-bottom: 1px solid $theme-border-color;
    transform: scaleY(.5);
  }
}